[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
pytz = "*"
tensorflow-federated = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.7"

[packages.bq_helper]
git = "https://github.com/SohierDane/BigQuery_Helper"
editable = true
