[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
selenium = "*"
bs4 = "*"
lxml = "*"
chatterbot = "*"
chatterbot-corpus = "*"

[dev-packages]

[requires]
python_version = "3.7"
